
<h1>Tacos are small and healthy</h1>

<% tacos = ["carnitas", "al pastor", "pescado", "avocado"] %>

<body> do u like them </body>
<p>We have <%= tacos.length%> tacos for you today</p>
<u>
  <li>Veg cauliflower</li>
  <li>Non veg fresh fish</li>
</u>